<div class="post">
	<div class="post">
	    <div class="title"><%= post.title %><div class="date"><%= to_date(post.created_at) %></div></div>
	    <div class="clearfix"></div>
		<div class="postText">
			<img src="<%= post.imgpath %>" />
			<%= markdown post.content %>
		</div>
	</div>
</div>