<% 
	require "date"
	age = age(Date.new(1992, 12, 2)) 
%>
            <div class='home right'>
                <p>My name is Rob Evola and I'm a <strong><%= age %></strong> year old programmer from <strong>Missisauga</strong>.</p>
                <p>I'm fluent in <strong>C#</strong>, <strong>PHP</strong>, <strong>HTML</strong>, and <strong>CSS</strong>.</p>
                <p>I'm also quite proficient in <strong>Ruby</strong>, <strong>Java</strong>, and <strong>Javascript</strong>.</p>
                <p>You can see the work I've done on my <strong><a href="portfolio">Portfolio</a></strong> page.</p>
                <br>
                <p>You can reach me by <a href="mailto:<%= escape "rob.evola@gmail.com" %>">Email</a> or <a href="@">Twitter</a>.</p>
				<p>You can find me on <a href="~">GitHub</a> and <a href="&">Steam</a>.</p>
            </div>